body
{
  background-color:#fff; /*#EBEBEB; */
  font-family: 'Arial', sans-serif;
  font-size:15px;
}

.copyright {
  font-size: 9pt;
  color: #000;
  margin-top: 5px;
  margin-bottom: 0px;
}

.main {
  margin-top:45px;
}

.drop_shadow {
	background-color:#fff;
	margin:0 auto;
	width:1060px;
	-moz-box-shadow: 0px 0px 5px rgba(150, 150, 150, 0.75);
	-webkit-box-shadow: 0px 0px 5px rgba(150, 150, 150, 0.75);
	box-shadow: 0px 0px 5px rgba(150, 150, 150, 0.75);
	position:relative;
	z-index:0;
	border-top: 1px solid #dfdfdf;
	}

.extendleft
{
	padding-left: 1000px;
	margin-left: -1000px;
}

.extendright
{
	padding-right: 1000px;
	margin-right: -1000px;
}

.bottom-border {
  border-bottom: 1px solid black;
}

.max-height {
  max-height:425px;
}
/*Adding extra footer styling*/
#footer {
  margin-top:25px;
}

.inline {
  display:inline;
}

.modal-body li {
  height:52px;
  list-style-type:none;
  clear:both;
  border-bottom:1px solid #eeeeee;
  padding-bottom:9px;
}

.modal-body li:last-item {
  border-bottom:0px;
}

.modal-body {
  padding-bottom:0px;
}

#catalogModal .modal-footer {
 margin-top:0px; 
}

.pull-down {
  margin-top:3px;
  margin-right:2px;
}

.small {
  font-size:8px;
}