<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dist/css/bootstrap.css') }}">
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dist/css/navbar.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
   <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>John Franco, Contact</title>
    
    <style>
    
    
    </style>
</head>
<body>
  <!-- Static navbar -->
  
  <div class="container">
    
    <div class="navbar navbar-default col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-left" href="/"><img src="{{ url_for('static', filename='img/sig-black.png') }}"></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" style="margin-top:15px;">
          <li><a href="/"><span>home</span></a></li>
          <li><a href="/paintings"><span>paintings</span></a></li>
          <li><a href="/drawings"><span>drawings</span></a></li>
          <li><a href="/statement"><span>statement</span></a></li>
          <li><a href="/bio"><span>bio</span></a></li>
          <li class="active"><a href="#"><span>contact</span></a></li>
        </ul>
      </div><!--/.nav-collapse -->
      
      
    </div>
 
    <div class="row">
 
      </div>
    </div>
    
    <div class"row">
  		<div class="col-md-12" >
  			<p class="text-center copyright">
  				All site content and images copyright © John Franco
  			</p>
  		</div>
    </div>
    
  </div>  
  <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
      <script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      
</body>
</html>