<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dist/css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dist/css/sticky-footer-navbar.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dist/css/4-col-portfolio.css') }}">
    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

    <title>John Franco, Artist</title>

    <style>
      #logo {
        height:38px;
      }
      .logo-pad {
        padding:6px 15px !important;
      }
      
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-left logo-pad" href="/"><img id="logo" src="{{ url_for('static', filename='img/sig-black.png') }}"></a>
            <!-- <a class="navbar-brand" href="#">Project name</a> -->
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#about">Statement</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio<b class="caret"></b></a>
                <ul class="dropdown-menu">
                   <li class="dropdown-header">Recent Shows</li>
                  <li class="active"><a href="#">Fall 2013</a></li>
                  <li><a href="#">Winter 2010</a></li>
                  <li><a href="#">Early 2000</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Older Work</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">

        <div class="row">

          <div class="col-lg-12">
            <h1 class="page-header">{{date}} <small>Some recent work</small></h1>
          </div>

        </div>

        <div class="row">

          <div class="col-md-3 portfolio-item">
            <a href="portfolio-item.html"><img class="img-responsive" src="{{ url_for('static', filename='img/works/fall2013/1.png') }}"></a>
          </div>

          <div class="col-md-3 portfolio-item">
            <a href="portfolio-item.html"><img class="img-responsive" src="{{ url_for('static', filename='img/works/fall2013/2.png') }}"></a>
          </div>

          <div class="col-md-3 portfolio-item">
            <a href="portfolio-item.html"><img class="img-responsive" src="{{ url_for('static', filename='img/works/fall2013/3.png') }}"></a>
          </div>

          <div class="col-md-3 portfolio-item">
            <a href="portfolio-item.html"><img class="img-responsive" src="{{ url_for('static', filename='img/works/fall2013/4.png') }}"></a>
          </div>

        </div>

        <div class="row">

          <div class="col-md-3 portfolio-item">
            <a href="portfolio-item.html"><img class="img-responsive" src="{{ url_for('static', filename='img/works/fall2013/5.png') }}"></a>
          </div>

          <div class="col-md-3 portfolio-item">
            <a href="portfolio-item.html"><img class="img-responsive" src="{{ url_for('static', filename='img/works/fall2013/6.png') }}"></a>
          </div>

          <div class="col-md-3 portfolio-item">
            <a href="portfolio-item.html"><img class="img-responsive" src="{{ url_for('static', filename='img/works/fall2013/7.png') }}"></a>
          </div>

          <div class="col-md-3 portfolio-item">
            <a href="portfolio-item.html"><img class="img-responsive" src="{{ url_for('static', filename='img/works/fall2013/8.png') }}"></a>
          </div>

        </div>

        <div class="row">

          <div class="col-md-3 portfolio-item">
            <a href="portfolio-item.html"><img class="img-responsive" src="{{ url_for('static', filename='img/works/fall2013/9.png') }}"></a>
          </div>

          <div class="col-md-3 portfolio-item">
            <a href="portfolio-item.html"><img class="img-responsive" src="{{ url_for('static', filename='img/works/fall2013/10.png') }}"></a>
          </div>

          <!-- <div class="col-md-3 portfolio-item">
            <a href="portfolio-item.html"><img class="img-responsive" src="http://placehold.it/750x450"></a>
          </div>

          <div class="col-md-3 portfolio-item">
            <a href="portfolio-item.html"><img class="img-responsive" src="http://placehold.it/750x450"></a>
          </div> -->

        </div>

        <hr>

        <div class="row text-center">
        
          <div class="col-lg-12">
            <ul class="pagination">
              <li><a href="#">&laquo;</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>        
          </div>

        </div>

      </div><!-- /.container -->
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">All site content and images © John Franco</p>
      </div>
    </div>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  </body>
</html>
